<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .content1 {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    /* align-items: center; */
  }
</style>

<div class="content1" role="main">

  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Details</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Confirm</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Complete</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <form (ngSubmit)="onSubmit()">
        <div id="test-l-1" class="content">
          <div class="form-group row">
            <label for="from-account" class="col-sm-4 col-form-label">From Account</label>
            <div class="col-sm-8">
              <select class="form-control" id="from-account" name="fromaccount" [(ngModel)]="fromaccount">
                <option value="">Select account</option>
                <option value="Savings Account - 2002630000375">Savings Account - 2002630000375 - RM 514,615.10</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="transfer-to" class="col-sm-4 col-form-label">Transfer To</label>
            <div class="col-sm-8">
              <a href="" role="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#recordlist" data-backdrop="static" data-keyboard="false">3rd Party Account</a>
              <input type="text" class="form-control" id="transfer-to" name="transferto" [(ngModel)]="transferto" placeholder="Please select" readonly/>
            </div>
          </div>
          <div class="form-group row">
            <label for="amount" class="col-sm-4 col-form-label">Amount</label>
            <div class="col-sm-8">
              <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">RM</span>
                </div>
                <input type="text" class="form-control" aria-describedby="addon-wrapping" id="amount" name="amount" [(ngModel)]="amount">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="reference" class="col-sm-4 col-form-label">Recipient Reference</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" class="form-control" id="reference" aria-describedby="refertextblock" name="reference" [(ngModel)]="reference">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="reference" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
              <div class="input-group">
                <small id="refertextblock" class="text-muted">
                  (Allow your recipient to identify you)
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="remarks" class="col-sm-4 col-form-label">Remarks <span style="font-weight: normal;">(optional)</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="remarks" name="remarks" [(ngModel)]="remarks">
            </div>
          </div>
          <button (click)="next('1')" class="btn btn-primary" type="button">Continue</button>
        </div>
        <div id="test-l-2" class="content">
          <div class="form-group row">
            <label for="f1" class="col-sm-4 col-form-label">From Account</label>
            <div class="col-sm-8">
              <span class="form-control">{{fromaccount}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="f2" class="col-sm-4 col-form-label">Transfer To</label>
            <div class="col-sm-8">
              <span class="form-control">{{transferto}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="f3" class="col-sm-4 col-form-label">Amount</label>
            <div class="col-sm-8">
              <span class="form-control">RM{{amount}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="f4" class="col-sm-4 col-form-label">Recipient Reference</label>
            <div class="col-sm-8">
              <span class="form-control">{{reference}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="f5" class="col-sm-4 col-form-label">Remarks</label>
            <div class="col-sm-8">
              <span class="form-control">{{remarks}}</span>
            </div>
          </div>
          <button (click)="back()" class="btn btn-outline-primary">Back</button>&nbsp;
          <button (click)="next('2')" class="btn btn-primary" type="button">Confirm</button>
        </div>
        <div id="test-l-3" class="content">
          <div class="form-group row">
            <label for="c1" class="col-sm-4 col-form-label">Transaction Status</label>
            <div class="col-sm-8">
              <span>Successful</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="c2" class="col-sm-4 col-form-label">Reference Number</label>
            <div class="col-sm-8">
              <span>85213355585222188</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="c3" class="col-sm-4 col-form-label">Date / Time</label>
            <div class="col-sm-8">
              <span>{{today}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="c4" class="col-sm-4 col-form-label">From Account</label>
            <div class="col-sm-8">
              <span>{{fromaccount}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="c5" class="col-sm-4 col-form-label">Transfer To</label>
            <div class="col-sm-8">
              <span>{{transferto}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="c6" class="col-sm-4 col-form-label">Amount</label>
            <div class="col-sm-8">
              <span>RM{{amount}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="c7" class="col-sm-4 col-form-label">Recipient Reference</label>
            <div class="col-sm-8">
              <span>{{reference}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="c8" class="col-sm-4 col-form-label">Remarks</label>
            <div class="col-sm-8">
              <span>{{remarks}}</span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Make Another Transfer</button>
        </div>
      </form>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="recordlist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Transfer To</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Registered Transfer (Select Recipient)</div>
        <table class="table table-striped">
          <tr *ngFor="let ra of recipientaccount">
            <td class='clickable-row' data-dismiss="modal" (click)='loadPopup(ra.accountname,ra.accountnumber)'>
              <div style="font-weight: bold;">{{ra.accountname}}</div>
              <div>{{ra.accountnumber}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


